{% extends 'base.html' %}


{% block head %}
    <title>spotmytracks</title>
{% endblock %}

{% block tittle %}
<div class="content">
    <h1 style="text-align: center">spotmytracks</h1>
</div>
{% endblock %}

{% block form %}
<form>
    <h3 style="text-align: center" >What time range would you like to use?</h3>
    <div class="">
        <center>
            <button type="submit" class="btn" style="margin:5px;" name="time_range" value="short_term">Last 4 weeks</button><br>
            <button type="submit" class="btn" style="margin:5px;"name="time_range" value="medium_term">Last 6 Months</button><br>
            <button type="submit" class="btn" style="margin:5px;" name="time_range" value="long_term">All Time</button><br>
            <button type="submit" class="btn" style="margin:5px;" name="time_range" value="long_term">Advanced Stats(WIP)</button><br>
        </center>
    <br />
    </div>
</form>
{% endblock %}

{% block body %}
<div class="content">
    {% if request.endpoint == 'go'  %}
        {% if time_name == 'short_term'  %}
            <h2 style="text-align: center">{{user}}'s top tracks of the last few weeks</h2>
        {% elif time_name == 'medium_term'  %}
            <h2 style="text-align: center">{{user}}'s top tracks of the last few months</h2>
        {% elif time_name == 'long_term'  %}
            <h2 style="text-align: center">{{user}}'s top tracks of all time</h2>
        {% elif time_name == 'all_time'  %}
            <h2 style="text-align: center">{{user}}'s Advanced Stats</h2>
        {% endif %}
    {% endif %}
    <table>
        {% for row in row_data %}
        <tr>
            {% for col, row_ in zip(column_names, row) %}
                {% if col == "artwork" %}
                    <td> <img src="{{row_}}" alt="artwork" style="width:100px;height:100px;"> </td>
                {% elif col != "album" %}
                    <td>{{row_}}</td>
                {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
