{% extends 'base.html' %}

{% block head %}
<title>spotmytracks</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">spotmytracks</h1>
    <h2 style="text-align: center">{{user}}'s top tracks</h2>
    <table>
        <tr>
            {% for col in column_names %}
            <th>{{col}}</th>
            {% endfor %}
        </tr>
        {% for row in row_data %}
        <tr>
            {% for col, row_ in zip(column_names, row) %}
                <td>{{row_}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    
    </table>
</div>
{% endblock %}