{% extends 'base.html' %}


{% block head %}
    <title>spotmytracks</title>
{% endblock %}

{% block tittle %}
<div class="content">
    <h1 style="text-align: center">spotmytracks</h1>
</div>
{% endblock %}

{% block form %}
<form>
    <h3 style="text-align: center" >What time range would you like to use?</h3>
    {% if time_name == 'short_term'  %}
        <h4 style="text-align: center">

            <input type="radio" name="time_range" id="inlineCheckbox1" value="short_term" checked> Last Few Weeks
            <br />
            <input type="radio" name="time_range" id="inlineCheckbox2" value="medium_term"> Last Few Months
            <br />
            <input type="radio" name="time_range" id="inlineCheckbox3" value="long_term"> Last Few Years

        </h4>
    {% elif time_name == 'medium_term'  %}
        <h4 style="text-align: center">

            <input type="radio" name="time_range" id="inlineCheckbox1" value="short_term"> Last Few Weeks
            <br />
            <input type="radio" name="time_range" id="inlineCheckbox2" value="medium_term" checked> Last Few Months
            <br />
            <input type="radio" name="time_range" id="inlineCheckbox3" value="long_term"> Last Few Years

        </h4>
    {% elif time_name == 'long_term'  %}
        <h4 style="text-align: center">

            <input type="radio" name="time_range" id="inlineCheckbox1" value="short_term"> Last Few Weeks
            <br />
            <input type="radio" name="time_range" id="inlineCheckbox2" value="medium_term"> Last Few Months
            <br />
            <input type="radio" name="time_range" id="inlineCheckbox3" value="long_term" checked> Last Few Years

        </h4>
    {% else %}
        <h4 style="text-align: center">

            <input type="radio" name="time_range" id="inlineCheckbox1" value="short_term" checked> Last Few Weeks
            <br />
            <input type="radio" name="time_range" id="inlineCheckbox2" value="medium_term"> Last Few Months
            <br />
            <input type="radio" name="time_range" id="inlineCheckbox3" value="long_term"> Last Few Years

        </h4>
    {% endif %}
    <div class="">
        <center>
            <button type="submit">submit!</button>
        </center>
    <br />
    </div>

</form>
{% endblock %}

{% block body %}
<div class="content">
    {% if request.endpoint == 'go'  %}
        {% if time_name == 'short_term'  %}
            <h2 style="text-align: center">{{user}}'s top tracks of the last few weeks</h2>
        {% elif time_name == 'medium_term'  %}
            <h2 style="text-align: center">{{user}}'s top tracks of the last few months</h2>
        {% elif time_name == 'long_term'  %}
            <h2 style="text-align: center">{{user}}'s top tracks of all time</h2>
        {% endif %}
    {% endif %}
    <table>
        <tr>
            {% for col in column_names %}
            <th>{{col}}</th>
            {% endfor %}
        </tr>
        {% for row in row_data %}
        <tr>
            {% for col, row_ in zip(column_names, row) %}
                {% if col == "artwork" %}
                    <td> <img src="{{row_}}" alt="artwork" style="width:100px;height:100px;"> </td>
                {% else %}
                    <td>{{row_}}</td>
                {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
    
    </table>
</div>
{% endblock %}

{% block footer %}
    {% if request.endpoint == 'go'  %}
        <p><b>by: Rafael Millan<br />
            twitter: @thatsraf<br />
        <a href="https://rafmillan.github.io">rafmillan.github.io</a></b></p>
    {% else %}
        <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
        <p><b>by: Rafael Millan<br />
            twitter: @thatsraf<br />
        <a href="https://rafmillan.github.io">rafmillan.github.io</a></b></p>
    {% endif %}
 {% endblock %}